<table>
    <thead>
        <th></th>
        <th></th>
        <th></th>
    </thead>
</table>


<table>
    <thead>
        <th>id</th>
        <th>idBoo</th>
        <th>firstName</th>
        <th>LastName</th>
    </thead>
    <tbody>
        <tr  *ngFor="let autor  of  autores[0] " >
            <td> {{autor.id}} </td>
            <td> {{autor.idBook}} </td>
            <td> {{autor.firstName}} </td>
            <td> {{autor.LastName}} </td>

        </tr>
    </tbody>
</table>